html {
  font-size: 16px; }

header {
  width: 100%;
  height: 1.75rem;
  background: #222222; }
  header b {
    float: left;
    font: 0.75rem/1.75rem "";
    color: #fff;
    height: 1.75rem;
    background: url(../img/index/01.png) no-repeat right center;
    width: 3rem;
    margin-left: 0.5rem; }
  header i {
    float: right;
    font: 0.75rem/1.75rem "";
    color: #fff;
    height: 1.75rem;
    margin-right: 0.5rem;
    background: url(../img/index/01.png) no-repeat right center;
    padding-right: 17px; }

nav {
  background: #f4f5f6;
  width: 100%;
  position: relative;
  height: 2.6rem;
  z-index: 25; }
  nav #show_hamburger {
    float: left;
    width: 64px;
    height: 33px;
    border: 0;
    background: url(../img/index/hamburger_btn.PNG) no-repeat center;
    display: none; }
  nav .logo {
    float: left;
    width: 39px;
    height: 24px;
    background: url(../img/index/03.png) no-repeat;
    margin: 8px 0 0 30px;
    margin-right: 2rem; }
  nav .nav {
    float: left; }
    nav .nav li {
      float: left;
      margin-right: 2.625rem; }
      nav .nav li a {
        display: block;
        font: 14px/2.6rem "";
        font-weight: 700;
        font-style: italic;
        color: #000000; }
  nav .social-icons {
    float: right;
    width: 123px;
    height: 16px;
    background: url(../img/index/05.png) no-repeat;
    margin: 0.75rem 1rem; }
  nav .search_box {
    float: right;
    height: 32px;
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
    margin-top: 4px;
    padding: 0 4px; }
    nav .search_box #search_text {
      background: #f4f5f6;
      border: 0;
      float: left;
      border-bottom: 1px solid #4F4D4D;
      height: 32px;
      width: 0; }
    nav .search_box button {
      float: left;
      width: 58px;
      height: 32px;
      background: url(../img/index/06.png) no-repeat center;
      border: 0;
      padding: 0; }

#banner {
  width: 100%;
  display: block;
  position: relative; }
  #banner img {
    width: 100%; }
  #banner .banner_info {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 20%; }
    #banner .banner_info h3 {
      font: 2.5rem/2.5rem "";
      font-weight: 800;
      color: #fff;
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      margin-bottom: 47px; }
    #banner .banner_info p {
      max-width: 600px;
      color: #fff;
      box-sizing: border-box;
      font-size: 1rem;
      margin: 0 auto;
      text-align: center;
      font-weight: 700; }

#content-container {
  padding: 0 1%; }
  #content-container h3 {
    font: 25px/25px "";
    text-align: center;
    padding: 48px 0;
    font-style: italic; }
  #content-container .items-container {
    width: 100%; }
    #content-container .items-container .item {
      width: 32%;
      padding: 10px 0;
      float: left; }
      #content-container .items-container .item img {
        width: 100%;
        display: block;
        margin-bottom: 12px; }
      #content-container .items-container .item h4 {
        font: 22px/24px ""; }
      #content-container .items-container .item p {
        font: 14px/24px ""; }
      #content-container .items-container .item:nth-child(3n+2) {
        margin: 0 2%; }
  #content-container #load_more h4 {
    font: 30px/30px "";
    font-style: italic;
    text-align: center;
    padding: 30px 0; }

#features_container {
  width: 100%; }
  #features_container h3 {
    font: 25px/25px "";
    text-align: center;
    font-style: italic;
    padding: 48px 0; }
  #features_container .feature {
    position: relative;
    width: 100%;
    margin-bottom: 50px; }
    #features_container .feature img {
      display: block;
      width: 100%; }
    #features_container .feature .feature_info {
      position: absolute;
      top: 0;
      width: 100%;
      padding-top: 143px; }
      #features_container .feature .feature_info h4 {
        font: 36px/36px "";
        font-weight: 800;
        color: #fff;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 47px; }
      #features_container .feature .feature_info p {
        max-width: 600px;
        color: #fff;
        box-sizing: border-box;
        font-size: 1rem;
        margin: 0 auto;
        text-align: center;
        font-weight: 700; }

@media screen and (max-width: 1000px) {
  nav .nav li:nth-child(6) {
    display: none; }
  nav .nav li:nth-child(7) {
    display: none; } }
@media screen and (max-width: 800px) {
  nav #show_hamburger {
    display: block; }

  nav .social-icons {
    display: none; }

  #content-container .items-container .item {
    width: 48%; }
    #content-container .items-container .item:nth-child(3n+2) {
      margin: 0; }
    #content-container .items-container .item:nth-child(2n+1) {
      margin-right: 4%; } }

/*# sourceMappingURL=index.css.map */
