@charset "utf-8";
//@media screen and (max-width: 300px) {
//  body {
//      background-color:lightblue;
//  }
//}
html {
    font-size: 16px;
}


header {
    width: 100%;
    height: 1.75rem;
    background: #222222;
    b {
        float: left;
        font: 0.75rem/1.75rem "";
        color: #fff;
        height: 1.75rem;
        background: url(../img/index/01.png) no-repeat right center;
        width: 3rem;
        margin-left: 0.5rem;
    }
    i {
        float: right;
        font: 0.75rem/1.75rem "";
        color: #fff;
        height: 1.75rem;
        margin-right: 0.5rem;
        background: url(../img/index/01.png) no-repeat right center;
        padding-right: 17px;
    }
}

nav {
    background: #f4f5f6;
    width: 100%;
    position: relative;
    height: 2.6rem;
    z-index: 25;
    #show_hamburger {
        float: left;
        width: 64px;
        height: 33px;
        border: 0;
        background: url(../img/index/hamburger_btn.PNG) no-repeat center;
        display: none;
    }
    .logo {
        float: left;
        width: 39px;
        height: 24px;
        background: url(../img/index/03.png) no-repeat;
        margin: 8px 0 0 30px;
        margin-right: 2rem;
    }
    .nav {
        float: left;
        >li {
            float: left;
            margin-right: 2.625rem;
            position: relative;
            height: 2.6rem;
            box-sizing: border-box;
            &:hover{
                border-bottom: 3px solid #CB2028;
            }
            >a {
                display: block;
                font: 14px/2.6rem "";
                font-weight: 700;
                font-style: italic;
                color: #000000;
            }
            &:nth-child(1){
                .shiShang_group{
                    display: none;
                    position: absolute;
                    width: 1141px;
                    height: 288px;
                    top: 41px;
                    background: #F4F5F6;
                    left: -101px;
                    ul{
                        float:left;
                        li{
                            width:230px;
                            height: 50px;
                            font:12px/50px "";
                            font-style: italic;
                            border-bottom: 1px solid #666;
                            margin-left: 31px;
                            a{
                                color:#4F4D4D;
                            }
                            &:hover{
                                a{
                                    color:#CB2028;
                                }
                            }
                        }
                    }
                    .pics{
                        float:right;
                        div{
                            width:288px;
                            height:288px;
                            float:left;
                            position: relative;
                            a{
                                img{
                                    width:288px;
                                    display: block;
                                }
                                p{
                                    position: absolute;
                                    width:288px;
                                    height:100px;
                                    bottom: 0;
                                    background: rgba(0,0,0,.3);
                                    color:#EBEBED;
                                    text-align: center;
                                    font:14px/100px "";
                                }
                            }
                        }
                    }
                    .pics_1{
                        display: block;
                    }
                    .pics_2{
                        display: none;
                    }
                    .pics_3{
                        display: none;
                    }
                }
            }
        }
    }
    .social-icons {
        float: right;
        width: 123px;
        height: 16px;
        background: url(../img/index/05.png) no-repeat;
        margin: 0.75rem 1rem;
    }
    .search_box {
        float: right;
        height: 32px;
        border-left: 1px solid #393939;
        border-right: 1px solid #393939;
        margin-top: 4px;
        padding: 0 4px;
        #search_text {
            background: #f4f5f6;
            border: 0;
            float: left;
            border-bottom: 1px solid #4F4D4D;
            height: 32px;
            width: 0;
        }
        button {
            float: left;
            width: 58px;
            height: 32px;
            background: url(../img/index/06.png) no-repeat center;
            border: 0;
            padding: 0;
            outline: medium;
            cursor: pointer;
        }
    }
}

#banner {
    width: 100%;
    display: block;
    position: relative;
    img {
        width: 100%;
    }
    .banner_info {
        position: absolute;
        width: 100%;
        top: 0;
        padding-top: 20%;
        h3 {
            font: 2.5rem/2.5rem "";
            font-weight: 800;
            color: #fff;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            margin-bottom: 47px;
        }
        p {
            max-width: 600px;
            color: #fff;
            box-sizing: border-box;
            font-size: 1rem;
            margin: 0 auto;
            text-align: center;
            font-weight: 700;
        }
    }
}

#content-container {
    padding: 0 1%;
    h3 {
        font: 25px/25px "";
        text-align: center;
        padding: 48px 0;
        font-style: italic;
    }
    .items-container {
        width: 100%;
        .item {
            width: 32%;
            padding: 10px 0;
            float: left;
            img {
                width: 100%;
                display: block;
                margin-bottom: 12px;
            }
            h4 {
                font: 22px/24px "";
            }
            p {
                font: 14px/24px "";
            }
            &:nth-child(3n+2) {
                margin: 0 2%;
            }
        }
    }
    #load_more {
        h4 {
            font: 30px/30px "";
            font-style: italic;
            text-align: center;
            padding: 30px 0;
        }
    }
}

#features_container {
    width: 100%;
    h3 {
        font: 25px/25px "";
        text-align: center;
        font-style: italic;
        padding: 48px 0;
    }
    .feature {
        position: relative;
        width: 100%;
        margin-bottom: 50px;
        img {
            display: block;
            width: 100%;
        }
        .feature_info {
            position: absolute;
            top: 0;
            width: 100%;
            padding-top: 143px;
            h4 {
                font: 36px/36px "";
                font-weight: 800;
                color: #fff;
                width: 100%;
                text-align: center;
                box-sizing: border-box;
                margin-bottom: 12px;
            }
            p {
                max-width: 600px;
                color: #fff;
                box-sizing: border-box;
                font-size: 1rem;
                margin: 0 auto;
                text-align: center;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    nav .nav{
        li:nth-child(6){
            display: none;
        }
        li:nth-child(7){
            display: none;
        }
        
    }
}
@media screen and (max-width: 800px) {
    
    nav #show_hamburger {
        display: block;
    }
    nav .social-icons{
        display: none;
    }
    #content-container .items-container .item{
        width:48%;
        &:nth-child(3n+2){
            margin:0;
        }
        &:nth-child(2n+1){
            margin-right:4%;
        }
    }
}

@media screen and (max-width: 700px) {
    nav .nav{
        display: none;
    }
    #banner .banner_info{
        position: relative;
        padding-top: 4%;
        h3{
            color:#222222;
        }
        p{
            color:#222222;
        }
    }
    #features_container .feature .feature_info{
        position: relative;
        padding-top: 4%;
        h4{
            color:#222222;
        }
        p{
            color:#222222;
        }
    }
}

