@charset "utf-8";

html {
    font-size: 16px;
}


header {
    width: 100%;
    height: 1.75rem;
    background: #222222;
    b {
        float: left;
        font: 0.75rem/1.75rem "";
        color: #fff;
        height: 1.75rem;
        background: url(../img/index/01.png) no-repeat right center;
        width: 3rem;
        margin-left: 0.5rem;
    }
    i {
        float: right;
        font: 0.75rem/1.75rem "";
        color: #fff;
        height: 1.75rem;
        margin-right: 0.5rem;
        background: url(../img/index/01.png) no-repeat right center;
        padding-right: 17px;
    }
}

nav {
    background: #f4f5f6;
    width: 100%;
    position: relative;
    height: 2.6rem;
    z-index: 25;
    #show_hamburger {
        float: left;
        width: 64px;
        height: 33px;
        border: 0;
        background: url(../img/index/hamburger_btn.PNG) no-repeat center;
        display: none;
    }
    .logo {
        float: left;
        width: 39px;
        height: 24px;
        background: url(../img/index/03.png) no-repeat;
        margin: 8px 0 0 30px;
        margin-right: 2rem;
    }
    .nav {
        float: left;
        >li {
            float: left;
            margin-right: 2.625rem;
            position: relative;
            height: 2.6rem;
            box-sizing: border-box;
            &:hover {
                border-bottom: 3px solid #CB2028;
            }
            >a {
                display: block;
                font: 14px/2.6rem "";
                font-weight: 700;
                font-style: italic;
                color: #000000;
            }
            &:nth-child(1) {
                .shiShang_group {
                    display: none;
                    position: absolute;
                    width: 1141px;
                    height: 288px;
                    top: 41px;
                    background: #F4F5F6;
                    left: -101px;
                    ul {
                        float: left;
                        li {
                            width: 230px;
                            height: 50px;
                            font: 12px/50px "";
                            font-style: italic;
                            border-bottom: 1px solid #666;
                            margin-left: 31px;
                            a {
                                color: #4F4D4D;
                            }
                            &:hover {
                                a {
                                    color: #CB2028;
                                }
                            }
                        }
                    }
                    .pics {
                        float: right;
                        div {
                            width: 288px;
                            height: 288px;
                            float: left;
                            position: relative;
                            a {
                                img {
                                    width: 288px;
                                    display: block;
                                }
                                p {
                                    position: absolute;
                                    width: 288px;
                                    height: 100px;
                                    bottom: 0;
                                    background: rgba(0, 0, 0, .3);
                                    color: #EBEBED;
                                    text-align: center;
                                    font: 14px/100px "";
                                }
                            }
                        }
                    }
                    .pics_1 {
                        display: block;
                    }
                    .pics_2 {
                        display: none;
                    }
                    .pics_3 {
                        display: none;
                    }
                }
            }
        }
    }
    .social-icons {
        float: right;
        width: 123px;
        height: 16px;
        background: url(../img/index/05.png) no-repeat;
        margin: 0.75rem 1rem;
    }
    .search_box {
        float: right;
        height: 32px;
        border-left: 1px solid #393939;
        border-right: 1px solid #393939;
        margin-top: 4px;
        padding: 0 4px;
        #search_text {
            background: #f4f5f6;
            border: 0;
            float: left;
            border-bottom: 1px solid #4F4D4D;
            height: 32px;
            width: 0;
        }
        button {
            float: left;
            width: 58px;
            height: 32px;
            background: url(../img/index/06.png) no-repeat center;
            border: 0;
            padding: 0;
            outline: medium;
            cursor: pointer;
        }
    }
}

#banner {
    h2 {
        font: 30px/100px "";
        text-align: center;
    }
    h4{
        font: 14px/20px "";
        text-align: center;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 38px;
    }
    >a {
        display: block;
        img {
            display: block;
            width: 100%;
            margin: 0 auto;
        }
    }
    
}

#main {
    width: 1000px;
    margin: 0 auto;
    padding-top: 49px;
    .main_l{
        width: 680px;
        float: left;
        p{
            font:14px/24px "";
            padding-bottom: 30px;
            img{
                display: block;
                width:100%;
            }
        }
    }
    .main_r {
        float: right;
        width: 304px;
        background: #f0f0f0;
        .dingYue {
            h3 {
                font: 20px/30px "";
                text-align: center;
                padding: 21px 0;
            }
            p {
                padding: 0 27px;
                #email {
                    float: left;
                    width: 219px;
                    height: 30px;
                    border: 0;
                }
                #email_btn {
                    float: left;
                    border: 0;
                    background: #1C1C1C;
                    height: 30px;
                    width: 30px;
                    color: #999999;
                }
            }
        }
        .popular {
            h3 {
                font: 20px/30px "";
                text-align: center;
                padding: 21px 0 7px;
                color: #E6297A;
            }
            ul {
                li {
                    padding: 5px 11px 5px;
                    h4 {
                        padding: 6px 0;
                        b {
                            color: #666666;
                        }
                    }
                    dl {
                        border-bottom: 1px solid #C3C3C3;
                        padding-bottom: 15px;
                        &:hover dt:after {
                            opacity: 0.3;
                        }
                        dt {
                            position: relative;
                            float: left;
                            &:after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                background: #000000;
                                opacity: 0;
                                transition: 0.6s;
                            }
                            img {
                                width: 130px;
                                display: block;
                            }
                        }
                        dd {
                            float: right;
                            width: 144px;
                            font: 14px/18px "";
                        }
                    }
                }
            }
        }
    }
}

#diBu {
        width: 100%;
        padding: 0 1%;
        h4{
            font: 30px/100px "";
            text-align: center;
        }
        ul {
            li {
                display: inline-block;
                width:32%;
                padding: 20px 0;
                border-bottom: 1px solid #C3C3C3;
                dl {
                    &:hover dt:after {
                        opacity: 0.3;
                    }
                    &:hover dd h4 {
                        color: #E6297A;
                    }
                    dt {
                        position: relative;
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: #000000;
                            opacity: 0;
                            transition: 0.6s;
                        }
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                    dd {
                        width: 100%;
                        h4 {
                            font: 24px/24px "";
                            font-weight: 700;
                            padding: 10px 0;
                            transition: 0.6s;
                            text-align: left;
                        }
                        p {
                            font: 16px/25px "";
                            color: #585858;
                            padding: 14px 0;
                        }
                        a {
                            color: #E6297A;
                        }
                    }
                }
            }
        }
    }
footer {
    background: #1C1C1C;
    padding: 20px 40px;
    .about {
        float: left;
        width: 190px;
        padding-top: 40px;
        img {
            width: 60px;
            height: 96px;
        }
        ul {
            float: right;
            border-left: 1px solid #BABABA;
            padding-left: 13px;
            li {
                color: #BABABA;
                font: 12px/30px "";
            }
        }
    }
    .footer_r {
        float: right;
        width: 300px;
        h4 {
            font: 14px/30px "";
            color: #C3C3C3;
            text-align: center;
            padding: 30px 0 11px;
            border-bottom: 1px solid #999;
        }
        img {
            display: block;
            padding-top: 17px;
        }
        p {
            color: #c3c3c3;
            font: 10px "";
            text-align: right;
        }
    }
}

@media screen and (max-width: 1000px) {
    nav .nav {
        li:nth-child(6) {
            display: none;
        }
        li:nth-child(7) {
            display: none;
        }
    }
    #banner {
        >a img {
            width: 100%;
        }
        h3 {
            width: 100%;
            padding: 2% 2%;
            box-sizing: border-box;
        }
        p {
            width: 100%;
            padding: 0 2% 2%;
            box-sizing: border-box;
        }
    }
    #main {
        width: 100%;
        .main_l {
            float: none;
            width: 88%;
            margin: 0 auto;
        }
    }
    #main .main_r {
        float: none;
        width: 100%;
        .dingYue {
            p {
                padding-left: 13%;
                #email_btn {
                    width: 18%;
                }
                #email {
                    width: 70%;
                }
            }
        }
        .popular {
            ul {
                padding-left: 5%;
                li {
                    h4 {
                        display: none;
                    }
                    width: 44%;
                    display: inline-block;
                    dl {
                        border: 0;
                        dt {
                            float: none;
                            img{
                                width:100%;
                            }
                        }
                        dd{
                            float: none;
                            width: auto;
                            font-size: 18px;
padding: 7px 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    nav #show_hamburger {
        display: block;
    }
    nav .social-icons {
        display: none;
    }
    #diBu ul li{
        width:40%;
        margin-left: 6%;
    }
//  #content-container .items-container .item {
//      width: 48%;
//      &:nth-child(3n+2) {
//          margin: 0;
//      }
//      &:nth-child(2n+1) {
//          margin-right: 4%;
//      }
//  }
}

@media screen and (max-width: 700px) {
    nav .nav {
        display: none;
    }
    #banner .banner_info {
        position: relative;
        padding-top: 4%;
        h3 {
            color: #222222;
        }
        p {
            color: #222222;
        }
    }
    #features_container .feature .feature_info {
        position: relative;
        padding-top: 4%;
        h4 {
            color: #222222;
        }
        p {
            color: #222222;
        }
    }
    #main .main_l ul li dl dd p{
        display: none;
    }
    #diBu ul li dl dd p{
        display: none;
    }
    footer {
        .about{
            float:none;
            margin: 0 auto;
        }
        .footer_r{
            float:none;
            margin: 0 auto;
        }
    }
}